[Unit]
Description=Water Level Service

[Service]
ExecStart=/usr/bin/env python -u /opt/pivarium/src/water_level.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
